.experience-item {
  margin-bottom: 7px;
  padding: 15px 13px;
  background: #f9f9f9;
  border-radius: 8px;
}

.experience-item h3 {
  margin: 5px 0;
}

.experience-item p {
  margin: 5px 0;
}

.icon.small {
  display: none;
}


/* Experience Item Scrollable */
.experience-item-container {
  max-height: 360px; /* Set max height for each item */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 5px;
  background: #ffffff;
  /* border-radius: 12px; */
  transition: all 0.3s ease-in-out;
}

/* Smooth hover effect
.experience-item-container:hover {
} */

/* Custom sleek scrollbar */
.experience-item-container::-webkit-scrollbar {
  width: 4px;
}

.experience-item-container::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 12px;
}

.experience-item-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 12px;
}

.experience-item-container::-webkit-scrollbar-thumb:hover {
  background: black;
}





@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}